<h2 style="font-size: 150%;">Statystyka</h2>
<ul>
	<li><% web.out.println(Main.getTextUptime()); %></li>
	<li>Mamy <% web.out.println(World.getAreas().length); %> krain.</li>
	<li>Mamy <% web.out.println(World.getRooms().length); %> pokoi.</li>
	<li>Mamy <% web.out.println(World.getObjects().length); %> objectów.</li>
	<li>Mamy <%
		var alluserscount = World.allUsers.size();
		var loggedinuserscount = World.loggedInUsers.size();
		web.out.println(alluserscount+" użytkowników, z czego "+loggedinuserscount+" ("+(loggedinuserscount/alluserscount*100)+"%) jest w tej chwili zalogowanych");
		%>.</li>
</ul>
